.bg {
    min-height: 100%;
    width: 100%;
    height: auto;
    position: fixed;
    top: 0;
    left: 0;
}

.text_360 {
    font-size: 16px !important;
    font-weight: 500 !important;
    color: white;
}

.text_b {
    font-size: 36px !important;
    font-weight: 900 !important;
    color: white;
    line-height: 24px;
}

.text_vista {
    font-size: 16px !important;
    font-weight: 400 !important;
    color: white;
}